<div class="container_12">

  <div class="grid_6 prefix_3">

    <div class="form_head">
      <img src="/assets/AGS_Logo_02.png" width="290px">
    </div>

  </div>

  <div class="grid_6 prefix_3">


    <%= form_tag users_url, method: 'post' do%>

      <div class="grid_3 alpha">
        <%= label_tag %>
        <%= text_field_tag :username , nil, placeholder: "Username", class: "input_format", title: "Please enter a username." %>
      </div>

      <div class="grid_3 omega">
        <%= label_tag %>
        <%= password_field_tag :password , nil, placeholder: "Password", class: "input_format", title: "Please enter your password." %>
      </div>

      <div class="grid_6 form_submit">
        <%= submit_tag "Sign in", class: "button_format" %>
      </div>

    <% end %>

  </div>

</div>
